<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Create a New Post:</h3>

        <form class="form new-post-form">
          <div class="form-group">
            <label for="postHeader">Post Header:</label>
            <input class="form-control" type="text" id="postHeader" name="postHeader" />
          </div>
          <div class="form-group">
            <label for="postText">Post:</label>
            <input class="form-control" type="text" id="postText" name="postText" />
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

